@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';

.swiper-button-next,
.swiper-button-prev {
  color: #fb1c49 !important;
  transition: color 0.3s;
  width: 40px;
  height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: 900;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #fff !important;
  border-radius: 50%;
  background-color: #fb1c49;
}
@layer utilities {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input {
    outline: none;
  }
}

.custom-checkbox {
  @apply w-5 h-5 appearance-none border-2 border-gray-300 rounded-md relative cursor-pointer;
}

.custom-checkbox:checked {
  @apply bg-primary border-transparent;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.25rem;
  height: 0.5rem;
  border: solid white;
  border-width: 0 0.125rem 0.125rem 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
