@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #FB1C49;
  --concrete: #F2F2F2;
  --alto: #D3D3D3;
  --dove-gray: #6D6D6D;
  --cod-gray: #171717;
  --mine-shaft: #222222;
  --pastel-pink: #FED2D9;
  --science-blue: #016DD6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary: #FB1C49;
    --concrete: #F2F2F2;
    --alto: #D3D3D3;
    --dove-gray: #6D6D6D;
    --cod-gray: #171717;
    --mine-shaft: #222222;
    --pastel-pink: #FED2D9;
    --science-blue: #016DD6;
  }
}
